section {
    margin: 20px;
    padding: 20px;
    flex-grow: 1;
}
.side-by-side {
    display: flex;
}
.sizes {
    border: 4px solid pink;
}
.sizes h2 {
    color: pink;
}
.toppings {
    border: 4px solid rgb(139, 238, 189);
}
.toppings h2 {
    color: rgb(139, 238, 189);
}
m {
    font-style: normal;
    font-weight: bold;
    color: slateblue
}
table {
    border: 4px solid slateblue;
}
td {
    border: 1px solid slateblue;
    padding: 20px;
}
th {
    color: white;
    background-color: slateblue;
}
h1 {
    color:  palevioletred;
}
.contact h2 {
    color: slateblue;
}
.go-home {
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    background-color: #3EB489;
    color: whitesmoke;
    text-decoration: none;
}
nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    justify-content: space-between;
}
nav a {
    margin: 10px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #E8C7C8;
    color: whitesmoke;
    text-decoration: none; /*Removes underline in nav hyperlinks*/
    text-align: center;
    font-size: 30px;
}