section {
    margin: 20px;
    padding: 20px;
    flex-grow: 1;
}
.side-by-side {
    display: flex;
}
.sizes {
    border: 4px solid pink;
}
.sizes h2 {
    color: pink;
}
.toppings {
    border: 4px solid rgb(139, 238, 189);
}
.toppings h2 {
    color: rgb(139, 238, 189);
}